<div class="row">
    <div class="col-md-12">
        <div class="card mt-12">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Aplikasi Pencarian Obat Berdasarkan Gejala
                    </h2>
                    <p>
                        Add New Data - Menambahkan data obat baru kedalam database.
                    </p>
                </div>
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Nama Obat
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Jenis Obat
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Khasiat
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Deskripsi
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button type="submit" class="btn btn-warning">
                            Clear
                        </button>
                    </div>
                    
                </form>
                
                <br><br> 
                <div class="row">
                    <div class="col-md-12">
                        <address>
                            <strong>Kelompok Kucing Oren, Universitas Mercu Buana.</strong><br>Jerry Erlangga<br>Isfandika<br>M. Supanji Akbar
                    </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>