<div class="card mt-4">
    <h4 class="card-header">You're logged in Mercubuana Medical Center.</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mt-12">
            <div class="jumbotron">
                <h2>
                    Aplikasi Pencarian Obat Berdasarkan Gejala
                </h2>
                <p>
                    Masukan gejala yang dialami pasien untuk menemukan berbagai obat yang memiliki khasiat dalam menyembuhkan gejala tersebut.
                </p>
                <br><br>
                <form [formGroup]="homeForm" (ngSubmit)="onSubmit()" class="form-inline">
                    <input formControlName="search" class="form-control col-sm-10" type="text"> 
                    <button [disabled]="loading" class="btn btn-primary col-sm-2" type="submit">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Search
                    </button>
                </form>
            </div>
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <table class="table table-hover">
                <h2 style="margin-left: 10px;">Hasil Pencarian 5 Teratas</h2>
                    <button style="margin-left: 10px;" type="button" class="btn btn-primary">Demam 94%</button>
                    <button style="margin-left: 10px;" type="button" class="btn btn-info">Masuk Angin 87%</button>
                    <button style="margin-left: 10px;" type="button" class="btn btn-success">Kecapean 65%</button>
                    <button style="margin-left: 10px;" type="button" class="btn btn-warning">Tifus 48%</button>
                    <button style="margin-left: 10px;" type="button" class="btn btn-danger">Cacingan 39%</button>
              
            </table>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Nama Obat
                        </th>
                        <th>
                            Gejala
                        </th>
                        <th>
                            Deskripsi
                        </th>
                        <th>
                            Aturan Pakai
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="medicines">
                    <tr *ngFor="let medicine of medicines | paginate:{itemsPerPage: 5, currentPage:p}">
                        <td>
							<a id="modal-1" href="#modal-container-1" data-toggle="modal">{{medicine.name}}</a>
							<div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="myModalLabel">
												{{medicine.name}}
											</h5> 
											<button type="button" class="close" data-dismiss="modal">
												<span aria-hidden="true">×</span>
											</button>
										</div>
										<div class="modal-body">
											Detail Dari Obat Ini.....
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">
												Close
											</button>
										</div>
									</div>	
								</div>	
							</div>
						</td>
                        <td>
                            <span>{{medicine.disease}}</span>
                        </td>
                        <td>
                            <span>{{medicine.description}}</span>
                        </td>
                        <td>
                            <span>{{medicine.rulesofuse}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
            <br><br> 
        </div>
    </div>
</div>